PORT = 8000
MONGODB_URI = mongodb+srv://santoshyarrabotula:your-password@cluster0.pm8ddoo.mongodb.net
CORS_ORIGIN = *
ACCESS_TOKEN_SECRET = youtube-clone
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = santosh-project
REFRESH_TOKEN_EXPIRY = 10d 
